:root {
    --main-color: #C3BE49;
    --font-size: 16px;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bg-main-theme {
    background-color: var(--main-color) !important;
    color: #fff;
}

.col-main-theme {
    color: var(--main-color) !important;
}

.display-none {
    display: none;
}

.container-cus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.canvas-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas,
img,.cropper-container {
    max-width: 85vw !important;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-width: 45%;
}

.thumbnail {
    width: 160px;
    height: auto;
}

.thumbnails {
    justify-content: center;
    flex-wrap: wrap;
}

.button-container {
    margin-top: 20px;
}

.custom-nav{
    position: relative;
    padding: .5rem 1rem;
}

.flex-dir-col{
    flex-direction: column
}

.aTag{
    color: #1a0dab;
}

.bigButton{
    width: 175px;
    display: inline-block;
}


